In [1]:
import pandas as pd
import numpy as np
from dash import Dash, dcc, html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression

# Define the date range and categories
dates = pd.date_range(start="2024-01-01", end="2024-07-31", freq='M')
categories = ["Groceries", "Housing", "Health", "Entertainment", "Insurance", "Transportation"]

# Generate dummy spending data
np.random.seed(42)
data = {
    "Date": np.tile(dates, len(categories)),
    "Category": np.repeat(categories, len(dates)),
    "Spending": np.random.uniform(100, 1000, len(dates) * len(categories))
}
df = pd.DataFrame(data)

# Generate dummy CPI data with values between 1.01 and 1.12
cpi_data = {
    "Date": dates,
    "CPI": np.random.uniform(1.01, 1.12, len(dates))
}
cpi_df = pd.DataFrame(cpi_data)

# Merge the dataframes
merged_df = pd.merge(df, cpi_df, on="Date")
merged_df["Adjusted Spending"] = merged_df["Spending"] * merged_df["CPI"]

# Prepare data for machine learning model (e.g., linear regression) using 6 previous months
def prepare_ml_data(merged_df, category):
    category_data = merged_df[merged_df['Category'] == category]
    category_data = category_data[['Date', 'Spending']].set_index('Date').resample('M').sum()

    # Using the last 6 months to predict the next month
    for i in range(1, 7):
        category_data[f'Lag{i}'] = category_data['Spending'].shift(i)

    category_data = category_data.dropna()  # Drop any rows with missing values

    X = category_data[[f'Lag{i}' for i in range(1, 7)]]
    y = category_data['Spending']
    
    return X, y

# Predict the next month's CPI using the previous 6 months
def predict_next_cpi(cpi_df):
    cpi_data = cpi_df.set_index('Date').resample('M').mean()
    for i in range(1, 7):
        cpi_data[f'Lag{i}'] = cpi_data['CPI'].shift(i)

    cpi_data = cpi_data.dropna()

    X = cpi_data[[f'Lag{i}' for i in range(1, 7)]]
    y = cpi_data['CPI']

    model = LinearRegression()
    model.fit(X, y)

    last_6_cpi = X.iloc[-1].values.reshape(1, -1)
    predicted_cpi = model.predict(last_6_cpi)[0]

    next_month = X.index[-1] + pd.DateOffset(months=1)

    return next_month, predicted_cpi

# Predict expenses and adjusted spending for each category
def predict_expenses_and_adjusted_spending(merged_df, cpi_df, categories):
    predictions = []
    next_month, predicted_cpi = predict_next_cpi(cpi_df)

    for category in categories:
        X, y = prepare_ml_data(merged_df, category)
        
        model = LinearRegression()
        model.fit(X, y)

        # Predict the next month's spending
        last_6_months = X.iloc[-1].values.reshape(1, -1)
        predicted_spending = model.predict(last_6_months)[0]

        adjusted_spending = predicted_spending * predicted_cpi
        predictions.append({
            "Date": next_month, 
            "Category": category, 
            "Spending": predicted_spending, 
            "CPI": predicted_cpi, 
            "Adjusted Spending": adjusted_spending
        })

    return pd.DataFrame(predictions)

# Get the predictions
pred_df = predict_expenses_and_adjusted_spending(merged_df, cpi_df, categories)

# Add the predicted data to the merged dataframe
merged_df = pd.concat([merged_df, pred_df], ignore_index=True)

# Ensure that the dates are sorted correctly
merged_df = merged_df.sort_values(by="Date")

# Update the date range to include the predicted month
dates = pd.date_range(start="2024-01-01", end=pred_df['Date'].max(), freq='M')

# Display the dataframes
print("Dummy Spending Data:")
display(df)

print("\nCPI Data:")
display(cpi_df)

print("\nMerged Data with Adjusted Spending:")
display(merged_df)

print("\nPredicted Spending for Next Month:")
display(pred_df)

# Initialize the Dash app
app = Dash(__name__)

# Define the layout
app.layout = html.Div([
    dcc.Dropdown(
        id='filter-type',
        options=[
            {'label': 'By Category', 'value': 'Category'},
            {'label': 'By Month', 'value': 'Date'}
        ],
        value='Category',
        style={'width': '50%'}
    ),
    dcc.Dropdown(
        id='filter-value',
        style={'width': '50%', 'margin-top': '10px'}
    ),
    dcc.Graph(id='spending-chart')
])

# Callback to update the filter value options based on the filter type
@app.callback(
    Output('filter-value', 'options'),
    [Input('filter-type', 'value')]
)
def set_filter_value_options(filter_type):
    if filter_type == 'Category':
        return [{'label': cat, 'value': cat} for cat in categories]
    else:
        return [{'label': date.strftime("%B %Y"), 'value': date} for date in dates]

# Callback to update the graph based on the selected filter
@app.callback(
    Output('spending-chart', 'figure'),
    [Input('filter-type', 'value'), Input('filter-value', 'value')]
)
def update_graph(filter_type, filter_value):
    if filter_value is None:
        return {}

    if filter_type == 'Category':
        # Filter by category
        filtered_df = merged_df[merged_df['Category'] == filter_value]
        title = f'Spending and Adjusted Spending for {filter_value}'

        fig = go.Figure()

        if not filtered_df.empty:
            # Add actual spending data
            fig.add_trace(go.Bar(
                x=filtered_df['Date'].dt.strftime("%B %Y"),
                y=filtered_df['Spending'],
                name='Spending',
                marker_color='blue'
            ))

            # Add adjusted spending data
            fig.add_trace(go.Bar(
                x=filtered_df['Date'].dt.strftime("%B %Y"),
                y=filtered_df['Adjusted Spending'],
                name='Adjusted Spending',
                marker_color='green'
            ))

        fig.update_layout(barmode='group', title=title)
        
    else:
        # Filter by date (month)
        filtered_df = merged_df[merged_df['Date'] == pd.to_datetime(filter_value)]

        title = f'Spending and Adjusted Spending for {pd.to_datetime(filter_value).strftime("%B %Y")}'

        fig = go.Figure()

        if not filtered_df.empty:
            # Add actual spending data by category
            fig.add_trace(go.Bar(
                x=filtered_df['Category'],
                y=filtered_df['Spending'],
                name='Spending',
                marker_color='blue'
            ))

            # Add adjusted spending data by category
            fig.add_trace(go.Bar(
                x=filtered_df['Category'],
                y=filtered_df['Adjusted Spending'],
                name='Adjusted Spending',
                marker_color='green'
            ))

        fig.update_layout(barmode='group', title=title)

    return fig

# Run the app on port 8055
if __name__ == '__main__':
    app.run_server(debug=True, port=8055)

Dummy Spending Data:

C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\mpena\anaconda3\envs\capstone\lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

         Date        Category    Spending
0  2024-01-31       Groceries  437.086107
1  2024-02-29       Groceries  955.642876
2  2024-03-31       Groceries  758.794548
3  2024-04-30       Groceries  638.792636
4  2024-05-31       Groceries  240.416776
5  2024-06-30       Groceries  240.395068
6  2024-07-31       Groceries  152.275251
7  2024-01-31         Housing  879.558531
8  2024-02-29         Housing  641.003511
9  2024-03-31         Housing  737.265320
10 2024-04-30         Housing  118.526045
11 2024-05-31         Housing  972.918867
12 2024-06-30         Housing  849.198377
13 2024-07-31         Housing  291.105200
14 2024-01-31          Health  263.642470
15 2024-02-29          Health  265.064059
16 2024-03-31          Health  373.818019
17 2024-04-30          Health  572.280788
18 2024-05-31          Health  488.750517
19 2024-06-30          Health  362.106226
20 2024-07-31          Health  650.667605
21 2024-01-31   Entertainment  225.544475
22 2024-02-29   Entertainment  362.930184
23 2024-03-31   Entertainment  429.725659
24 2024-04-30   Entertainment  510.462986
25 2024-05-31   Entertainment  806.658365
26 2024-06-30   Entertainment  279.706404
27 2024-07-31   Entertainment  562.810995
28 2024-01-31       Insurance  633.173112
29 2024-02-29       Insurance  141.805371
30 2024-03-31       Insurance  646.790367
31 2024-04-30       Insurance  253.471711
32 2024-05-31       Insurance  158.546434
33 2024-06-30       Insurance  953.996984
34 2024-07-31       Insurance  969.068830
35 2024-01-31  Transportation  827.557613
36 2024-02-29  Transportation  374.152392
37 2024-03-31  Transportation  187.904903
38 2024-04-30  Transportation  715.809724
39 2024-05-31  Transportation  496.137244
40 2024-06-30  Transportation  209.834411
41 2024-07-31  Transportation  545.659219

CPI Data:

        Date       CPI
0 2024-01-31  1.013783
1 2024-02-29  1.110025
2 2024-03-31  1.038466
3 2024-04-30  1.082877
4 2024-05-31  1.044288
5 2024-06-30  1.067207
6 2024-07-31  1.070138

Merged Data with Adjusted Spending:

         Date        Category    Spending       CPI  Adjusted Spending
0  2024-01-31       Groceries  437.086107  1.013783         443.110350
1  2024-01-31         Housing  879.558531  1.013783         891.681255
2  2024-01-31          Health  263.642470  1.013783         267.276185
3  2024-01-31   Entertainment  225.544475  1.013783         228.653095
4  2024-01-31       Insurance  633.173112  1.013783         641.899971
5  2024-01-31  Transportation  827.557613  1.013783         838.963623
11 2024-02-29  Transportation  374.152392  1.110025         415.318601
10 2024-02-29       Insurance  141.805371  1.110025         157.407542
9  2024-02-29   Entertainment  362.930184  1.110025         402.861666
7  2024-02-29         Housing  641.003511  1.110025         711.530078
6  2024-02-29       Groceries  955.642876  1.110025        1060.787717
8  2024-02-29          Health  265.064059  1.110025         294.227797
12 2024-03-31       Groceries  758.794548  1.038466         787.982185
13 2024-03-31         Housing  737.265320  1.038466         765.624819
14 2024-03-31          Health  373.818019  1.038466         388.197227
15 2024-03-31   Entertainment  429.725659  1.038466         446.255399
16 2024-03-31       Insurance  646.790367  1.038466         671.669674
17 2024-03-31  Transportation  187.904903  1.038466         195.132815
22 2024-04-30       Insurance  253.471711  1.082877         274.478801
21 2024-04-30   Entertainment  510.462986  1.082877         552.768857
23 2024-04-30  Transportation  715.809724  1.082877         775.134209
19 2024-04-30         Housing  118.526045  1.082877         128.349181
18 2024-04-30       Groceries  638.792636  1.082877         691.734141
20 2024-04-30          Health  572.280788  1.082877         619.709962
24 2024-05-31       Groceries  240.416776  1.044288         251.064407
25 2024-05-31         Housing  972.918867  1.044288        1016.007710
26 2024-05-31          Health  488.750517  1.044288         510.396406
27 2024-05-31   Entertainment  806.658365  1.044288         842.383827
28 2024-05-31       Insurance  158.546434  1.044288         165.568173
29 2024-05-31  Transportation  496.137244  1.044288         518.110279
35 2024-06-30  Transportation  209.834411  1.067207         223.936854
33 2024-06-30   Entertainment  279.706404  1.067207         298.504767
34 2024-06-30       Insurance  953.996984  1.067207        1018.112719
31 2024-06-30         Housing  849.198377  1.067207         906.270862
30 2024-06-30       Groceries  240.395068  1.067207         256.551416
32 2024-06-30          Health  362.106226  1.067207         386.442474
36 2024-07-31       Groceries  152.275251  1.070138         162.955552
37 2024-07-31         Housing  291.105200  1.070138         311.522774
38 2024-07-31          Health  650.667605  1.070138         696.304215
39 2024-07-31   Entertainment  562.810995  1.070138         602.285506
40 2024-07-31       Insurance  969.068830  1.070138        1037.037506
41 2024-07-31  Transportation  545.659219  1.070138         583.930737
46 2024-08-31       Insurance  969.068830  1.070138        1037.037506
42 2024-08-31       Groceries  152.275251  1.070138         162.955552
43 2024-08-31         Housing  291.105200  1.070138         311.522774
44 2024-08-31          Health  650.667605  1.070138         696.304215
45 2024-08-31   Entertainment  562.810995  1.070138         602.285506
47 2024-08-31  Transportation  545.659219  1.070138         583.930737

Predicted Spending for Next Month:

        Date        Category    Spending       CPI  Adjusted Spending
0 2024-08-31       Groceries  152.275251  1.070138         162.955552
1 2024-08-31         Housing  291.105200  1.070138         311.522774
2 2024-08-31          Health  650.667605  1.070138         696.304215
3 2024-08-31   Entertainment  562.810995  1.070138         602.285506
4 2024-08-31       Insurance  969.068830  1.070138        1037.037506
5 2024-08-31  Transportation  545.659219  1.070138         583.930737