In [1]:
import pandas as pd
import numpy as np
from dash import Dash, dcc, html
from dash.dependencies import Input, Output
import plotly.express as px

# Define the date range and categories
dates = pd.date_range(start="2024-01-01", end="2024-07-31", freq='M')
categories = ["Groceries", "Housing", "Health", "Entertainment", "Insurance", "Transportation"]

# Generate dummy spending data
np.random.seed(42)
data = {
    "Date": np.tile(dates, len(categories)),
    "Category": np.repeat(categories, len(dates)),
    "Spending": np.random.uniform(100, 1000, len(dates) * len(categories))
}
df = pd.DataFrame(data)

# Generate dummy CPI data (e.g., simulate some inflation rates)
cpi_data = {
    "Date": dates,
    "CPI": np.random.uniform(1.01, 1.05, len(dates))  # simulate CPI increase between 1% to 5%
}
cpi_df = pd.DataFrame(cpi_data)

# Merge the dataframes
merged_df = pd.merge(df, cpi_df, on="Date")
merged_df["Adjusted Spending"] = merged_df["Spending"] * merged_df["CPI"]

# Display the dataframes
print("Dummy Spending Data:")
display(df)

print("\nCPI Data:")
display(cpi_df)

print("\nMerged Data with Adjusted Spending:")
display(merged_df)

# Initialize the Dash app
app = Dash(__name__)

# Define the layout
app.layout = html.Div([
    dcc.Dropdown(
        id='filter-type',
        options=[
            {'label': 'By Category', 'value': 'Category'},
            {'label': 'By Month', 'value': 'Date'}
        ],
        value='Category',
        style={'width': '50%'}
    ),
    dcc.Dropdown(
        id='filter-value',
        style={'width': '50%', 'margin-top': '10px'}
    ),
    dcc.Graph(id='spending-chart')
])

# Callback to update the filter value options based on the filter type
@app.callback(
    Output('filter-value', 'options'),
    [Input('filter-type', 'value')]
)
def set_filter_value_options(filter_type):
    if filter_type == 'Category':
        return [{'label': cat, 'value': cat} for cat in categories]
    else:
        return [{'label': date.strftime("%B %Y"), 'value': date} for date in dates]

# Callback to update the graph based on the selected filter
@app.callback(
    Output('spending-chart', 'figure'),
    [Input('filter-type', 'value'), Input('filter-value', 'value')]
)
def update_graph(filter_type, filter_value):
    if filter_value is None:
        return {}

    if filter_type == 'Category':
        filtered_df = merged_df[merged_df['Category'] == filter_value]
        title = f'Spending and Adjusted Spending for {filter_value}'
        x_column = 'Date'
    else:
        # Convert the string date back to a datetime object if needed
        try:
            filter_value = pd.to_datetime(filter_value)
            filtered_df = merged_df[merged_df['Date'] == filter_value]
            title = f'Spending and Adjusted Spending for {filter_value.strftime("%B %Y")}'
            x_column = 'Category'
        except Exception as e:
            return {}

    fig = px.bar(
        filtered_df,
        x=x_column,
        y=['Spending', 'Adjusted Spending'],
        barmode='group',
        title=title
    )
    return fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

Dummy Spending Data:

         Date        Category    Spending
0  2024-01-31       Groceries  437.086107
1  2024-02-29       Groceries  955.642876
2  2024-03-31       Groceries  758.794548
3  2024-04-30       Groceries  638.792636
4  2024-05-31       Groceries  240.416776
5  2024-06-30       Groceries  240.395068
6  2024-07-31       Groceries  152.275251
7  2024-01-31         Housing  879.558531
8  2024-02-29         Housing  641.003511
9  2024-03-31         Housing  737.265320
10 2024-04-30         Housing  118.526045
11 2024-05-31         Housing  972.918867
12 2024-06-30         Housing  849.198377
13 2024-07-31         Housing  291.105200
14 2024-01-31          Health  263.642470
15 2024-02-29          Health  265.064059
16 2024-03-31          Health  373.818019
17 2024-04-30          Health  572.280788
18 2024-05-31          Health  488.750517
19 2024-06-30          Health  362.106226
20 2024-07-31          Health  650.667605
21 2024-01-31   Entertainment  225.544475
22 2024-02-29   Entertainment  362.930184
23 2024-03-31   Entertainment  429.725659
24 2024-04-30   Entertainment  510.462986
25 2024-05-31   Entertainment  806.658365
26 2024-06-30   Entertainment  279.706404
27 2024-07-31   Entertainment  562.810995
28 2024-01-31       Insurance  633.173112
29 2024-02-29       Insurance  141.805371
30 2024-03-31       Insurance  646.790367
31 2024-04-30       Insurance  253.471711
32 2024-05-31       Insurance  158.546434
33 2024-06-30       Insurance  953.996984
34 2024-07-31       Insurance  969.068830
35 2024-01-31  Transportation  827.557613
36 2024-02-29  Transportation  374.152392
37 2024-03-31  Transportation  187.904903
38 2024-04-30  Transportation  715.809724
39 2024-05-31  Transportation  496.137244
40 2024-06-30  Transportation  209.834411
41 2024-07-31  Transportation  545.659219

CPI Data:

        Date       CPI
0 2024-01-31  1.011376
1 2024-02-29  1.046373
2 2024-03-31  1.020351
3 2024-04-30  1.036501
4 2024-05-31  1.022468
5 2024-06-30  1.030803
6 2024-07-31  1.031868

Merged Data with Adjusted Spending:

         Date        Category    Spending       CPI  Adjusted Spending
0  2024-01-31       Groceries  437.086107  1.011376         442.058198
1  2024-01-31         Housing  879.558531  1.011376         889.563985
2  2024-01-31          Health  263.642470  1.011376         266.641546
3  2024-01-31   Entertainment  225.544475  1.011376         228.110165
4  2024-01-31       Insurance  633.173112  1.011376         640.375799
5  2024-01-31  Transportation  827.557613  1.011376         836.971529
6  2024-02-29       Groceries  955.642876  1.046373         999.958727
7  2024-02-29         Housing  641.003511  1.046373         670.728648
8  2024-02-29          Health  265.064059  1.046373         277.355826
9  2024-02-29   Entertainment  362.930184  1.046373         379.760278
10 2024-02-29       Insurance  141.805371  1.046373         148.381286
11 2024-02-29  Transportation  374.152392  1.046373         391.502892
12 2024-03-31       Groceries  758.794548  1.020351         774.236927
13 2024-03-31         Housing  737.265320  1.020351         752.269553
14 2024-03-31          Health  373.818019  1.020351         381.425664
15 2024-03-31   Entertainment  429.725659  1.020351         438.471091
16 2024-03-31       Insurance  646.790367  1.020351         659.953326
17 2024-03-31  Transportation  187.904903  1.020351         191.728993
18 2024-04-30       Groceries  638.792636  1.036501         662.109136
19 2024-04-30         Housing  118.526045  1.036501         122.852351
20 2024-04-30          Health  572.280788  1.036501         593.169547
21 2024-04-30   Entertainment  510.462986  1.036501         529.095340
22 2024-04-30       Insurance  253.471711  1.036501         262.723655
23 2024-04-30  Transportation  715.809724  1.036501         741.937417
24 2024-05-31       Groceries  240.416776  1.022468         245.818567
25 2024-05-31         Housing  972.918867  1.022468         994.778839
26 2024-05-31          Health  488.750517  1.022468         499.731980
27 2024-05-31   Entertainment  806.658365  1.022468         824.782723
28 2024-05-31       Insurance  158.546434  1.022468         162.108725
29 2024-05-31  Transportation  496.137244  1.022468         507.284676
30 2024-06-30       Groceries  240.395068  1.030803         247.799890
31 2024-06-30         Housing  849.198377  1.030803         875.355997
32 2024-06-30          Health  362.106226  1.030803         373.260083
33 2024-06-30   Entertainment  279.706404  1.030803         288.322122
34 2024-06-30       Insurance  953.996984  1.030803         983.382686
35 2024-06-30  Transportation  209.834411  1.030803         216.297882
36 2024-07-31       Groceries  152.275251  1.031868         157.128021
37 2024-07-31         Housing  291.105200  1.031868         300.382260
38 2024-07-31          Health  650.667605  1.031868         671.403348
39 2024-07-31   Entertainment  562.810995  1.031868         580.746887
40 2024-07-31       Insurance  969.068830  1.031868         999.951514
41 2024-07-31  Transportation  545.659219  1.031868         563.048511